@import '../../styles/variables.scss';
.topBlock {
  padding: 0 160px 40px 160px;
  background-color: var(--color-white);
}
.searchBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spacesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 160px;
}
.spacesCon {
  //width: 100%;
  margin: -16px;
  display: flex;
  flex-wrap: wrap;
}
.space {
  margin: 16px;
}
